# Created by Vercel CLI
VERCEL="1"
VERCEL_ENV="development"
TURBO_REMOTE_ONLY="true"
NX_DAEMON="false"
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_PULL_REQUEST_ID=""

SQL_SERVER_URL="sqlserver://localhost:50860;database=SocialMedia;user=sa;password=123456;encrypt=true;trustServerCertificate=true;connectTimeout=20"

GITHUB_ID="<Get from github>"
GITHUB_SECRET="<Get from github>"
NEXTAUTH_URL="http://localhost:3000/api/auth"

CLOUD_NAME="<Get from cloudinary>"
API_KEY="<Get from cloudinary>"
API_SECRET="<Get from cloudinary>"

JWT_TOKEN="<Use a strong cryptographic algorithm to create this>"